body {
  color: whitesmoke;
  background-color: #333;
  font-family: 'Oswald', sans-serif;
}

.container {
  position: relative;
  padding: 0;
}

#row1 {
  height: 100px;
}

#trainer {
  background-image: url('trainer.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

#row2 {
  height: 500px;
}

.col-md-1:hover {
  transform: scale(1.01);
  z-index: 1;
}

.col-md-10:hover {
  transform: scale(1.01);
  z-index: 1;
}

.col-md-4:hover {
  transform: scale(1.01);
  z-index: 1;
}

#top {
  height: 50vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  background-color: red;
  top: 0;
  transition: top 0.7s linear;
}

#bottom {
  height: 50vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: white;
  transition: bottom 1s linear;
}

#stripe {
  height: 10vh;
  width: 100vw;
  position: fixed;
  top: 45%;
  z-index: 2;
  background-color: black;
  transition: top 1s linear;
}

#outer-circle {
  height: 200px;
  width: 200px;
  position: fixed;
  top: 35%;
  left: 40%;
  z-index: 2;
  border-radius: 100px;
  background-color: black;
  transition: top 1s linear;
}

#inner-circle {
  height: 170px;
  width: 170px;
  position: fixed;
  top: 37%;
  left: 41.25%;
  z-index: 2;
  border-radius: 85px;
  background-color: white;
  transition: top 1s linear;
}

#inner-circle:hover {
  background-color: #d7d7d7;
}

#row2 > div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-position: left bottom;
}

.row {
  position: relative;
}
.row h2 {
  font-size: 4.8em;
  position: absolute;
  right: 15%;
}

.row h3 {
  position: absolute;
  bottom: 0;
  left: 20%;
  margin: 0;
}

.hidden {
  display: none;
}

ul {
  list-style-type: none;
  position: absolute;
  top: 30%;
  right: 5%;
  text-align: center;
  font-size: 2em;
}

.col-md-1 {
  position: relative;
}

.rotate {
  transform: rotate(270deg);
  position: absolute;
  left: 0;
  bottom: 100px;
  font-size: 3em;
}
